html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  
}

.jumbotron {
  background-image:url('Microfon.jpg');
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.jumbotron h2{
	color: pink;
}

.jumbotron p {
	color: white;
	font-size: 11px;
	
}

.nav {
  padding: 20px 0px;
  background-color: #0B1924;
 }

.nav a{
  color: #ccff33;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
 }

.nav  a:hover{
	color: #ff99ff;
}

.nav li{
  display: inline;
  padding: 15px 5px;
 }



/* 
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
} 

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }
}
 */